.Header {
  background-color: rgb(32, 34, 30); /* ou o verde que você quiser */
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: sticky; /* se quiser fixo no topo */
  top: 0;
  z-index: 1000;
}

.Header a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  transition: color 0.3s;
}

.Header a:hover {
  color: #b2dfdb;
}
