.pagina5 {
  padding: 30px;
  text-align: center;
}

.pagina5 h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  width: 200px;
  text-align: center;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #21a1f1;
}

.erro {
  color: red;
  margin-top: 20px;
}

.endereco {
  margin-top: 20px;
  font-size: 18px;
}

.endereco p {
  margin: 5px 0;
}

.endereco strong {
  font-weight: bold;
}
